<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCasePackage.TC_001_LOGIN"/>
      <class name="testCasePackage.TC_002_DASHBOARD"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
